Initializing PySpark session and reading data

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Filter").getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.csv("../data/test2.csv",header=True,inferSchema=True)
df.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Alice|  25|         2| 40000|
|    Bob|  30|         5| 50000|
|Charlie|  28|         4|  NULL|
|  David|NULL|         3| 45000|
|    Eva|  35|      NULL| 60000|
|  Frank|  29|         6| 55000|
|  Grace|NULL|      NULL| 42000|
|   Hank|  40|        10| 80000|
|    Ivy|  22|         1|  NULL|
|   Jack|  33|         8| 75000|
|  Karen|  27|      NULL|  NULL|
|    Leo|  31|         7| 67000|
|   Mona|  26|         3| 48000|
|   Nina|  24|         2| 41000|
|  Oscar|NULL|         4| 52000|
|   Paul|  38|         9| 79000|
|  Quinn|  21|      NULL| 39000|
|   Rose|  23|         1| 42000|
|  Steve|  36|        11|  NULL|
|   Tina|NULL|      NULL|  NULL|
+-------+----+----------+------+

starting with simple method

In [5]:
df.filter("Salary>=50000").show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|  Bob|  30|         5| 50000|
|  Eva|  35|      NULL| 60000|
|Frank|  29|         6| 55000|
| Hank|  40|        10| 80000|
| Jack|  33|         8| 75000|
|  Leo|  31|         7| 67000|
|Oscar|NULL|         4| 52000|
| Paul|  38|         9| 79000|
+-----+----+----------+------+

Using AND

In [7]:
df.filter((df["Salary"]<=50000)&(df["Experience"]<=5)).show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Alice|  25|         2| 40000|
|  Bob|  30|         5| 50000|
|David|NULL|         3| 45000|
| Mona|  26|         3| 48000|
| Nina|  24|         2| 41000|
| Rose|  23|         1| 42000|
+-----+----+----------+------+

Using OR and select few columns

In [11]:
df.filter((df["Salary"]<=50000)|(df["Experience"]<=5)).select(["Name","Age"]).show()

+-------+----+
|   Name| Age|
+-------+----+
|  Alice|  25|
|    Bob|  30|
|Charlie|  28|
|  David|NULL|
|  Grace|NULL|
|    Ivy|  22|
|   Mona|  26|
|   Nina|  24|
|  Oscar|NULL|
|  Quinn|  21|
|   Rose|  23|
+-------+----+

Using NOT ~

In [14]:
df.filter(~((df["Salary"]<=50000)|(df["Experience"]<=5))).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Frank| 29|         6| 55000|
| Hank| 40|        10| 80000|
| Jack| 33|         8| 75000|
|  Leo| 31|         7| 67000|
| Paul| 38|         9| 79000|
+-----+---+----------+------+

In [15]:
spark.stop()