In [2]:
import pyspark

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("groupby").getOrCreate()
spark

In [5]:
df = spark.read.csv("../data/test3.csv",header=True,inferSchema=True)
df.show()

+-------+----------+------+
|   name|department|salary|
+-------+----------+------+
|  Alice|        HR|  5000|
|    Bob|        IT|  7000|
|  Alice|   Finance|  4500|
|Charlie|        IT|  7200|
|    Bob|   Finance|  4800|
|  David|        HR|  5100|
|    Eve| Marketing|  6000|
|  Alice| Marketing|  4000|
|Charlie| Marketing|  6200|
|  David|        IT|  6900|
|    Eve|        HR|  5200|
+-------+----------+------+

In [7]:
df.groupBy("name").sum().show()

+-------+-----------+
|   name|sum(salary)|
+-------+-----------+
|Charlie|      13400|
|    Bob|      11800|
|  Alice|      13500|
|    Eve|      11200|
|  David|      12000|
+-------+-----------+

In [8]:
df.groupby("department").mean().show()

+----------+-----------------+
|department|      avg(salary)|
+----------+-----------------+
|        HR|           5100.0|
|   Finance|           4650.0|
| Marketing|           5400.0|
|        IT|7033.333333333333|
+----------+-----------------+

In [9]:
df.groupby("department").sum().show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|        HR|      15300|
|   Finance|       9300|
| Marketing|      16200|
|        IT|      21100|
+----------+-----------+

In [10]:
df.groupby("department").count().show()

+----------+-----+
|department|count|
+----------+-----+
|        HR|    3|
|   Finance|    2|
| Marketing|    3|
|        IT|    3|
+----------+-----+

In [13]:
df.agg({"salary":"sum"}).show()

+-----------+
|sum(salary)|
+-----------+
|      61900|
+-----------+

In [14]:
spark.stop()