## Importing Libraries

In [1]:
import pyspark
import pandas as pd

Reading with pandas

In [16]:
import pandas as pd

# Use raw string to prevent backslash issues
df = pd.read_csv('../data/test1.csv')

# Display first few rows to confirm it worked
print(df.head())

                  Name  Age
0      Priyanshu Joshi   45
1          Ayush Nagar   30
2   Harsh Kumar Shakya   28
3      Krishna Agrawal   32
4  Asmit Singh Mandoor   42

Importing PySpark Session

In [17]:
from pyspark.sql import SparkSession

Creating a pyspark session

In [21]:
spark = SparkSession.builder.appName("temp").getOrCreate()

Viewing a Pyspark session

In [32]:
spark

Importing data with pysaprk session

In [26]:
df_pyspark = spark.read.csv("../data/test1.csv")
df_pyspark

DataFrame[_c0: string, _c1: string]

In [27]:
df_pyspark.show()

+-------------------+---+
|                _c0|_c1|
+-------------------+---+
|               Name|Age|
|    Priyanshu Joshi| 45|
|        Ayush Nagar| 30|
| Harsh Kumar Shakya| 28|
|    Krishna Agrawal| 32|
|Asmit Singh Mandoor| 42|
+-------------------+---+

Hmm, Let's fix this Indexing

In [41]:
df_pyspark = spark.read.option("header", "true").csv("../data/test1.csv")
df_pyspark.show()

+-------------------+---+
|               Name|Age|
+-------------------+---+
|    Priyanshu Joshi| 45|
|        Ayush Nagar| 30|
| Harsh Kumar Shakya| 28|
|    Krishna Agrawal| 32|
|Asmit Singh Mandoor| 42|
+-------------------+---+

Comparing the data types of pandas and pyspark

In [46]:
print("The data type of pandas is: ",type(df))
print("The data type of type Pyspark is: ",type(df_pyspark))

The data type of pandas is:  <class 'pandas.core.frame.DataFrame'>
The data type of type Pyspark is:  <class 'pyspark.sql.classic.dataframe.DataFrame'>

In [47]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [48]:
spark.stop()